# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
.gradle/
build/
out/
classes/

# other
eclipse
run
runs
run-data

repo

# Files from Forge MDK
forge*changelog.txt

# macos
*.DS_Store

# fabric
run/

# java
hs_err_*.log
replay_*.log
*.hprof
*.jfr